  <td>
    <%= item.name %>
  </td>
  <td>
    <%= item.rating %>
  </td>
  <td>
    <button class="item-increment" data-item-id="<%= item.id %>">+</button>
    <button class="item-decrement" data-item-id="<%= item.id %>">-</button>
  </td>