<table>
  <thead>
    <th>
      Name
    </th>
    <th>
      Rating
    </th>
    <th>
      Actions
    </th>
  </thead>
  <tbody>
    <%= render @items %>
  </tbody>
</table>

<div id="ratings-log"></div>